<!DOCTYPE html>
<html ng-app="InputApp">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Custom input</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="angular.min.js"></script>
      <script src="app.js"></script>
      <script src="inputField.controller.js"></script>
   </head>
   <body>
      <div class="jumbotron text-center">
         <h1>Custom Input</h1>
         <p>Written in Angularjs</p>
      </div>
      <div class="form" class="container" ng-controller="InputAppCtrl">
         <form name="userForm" ng-submit="submitForm()" novalidate>
            <input-field 
               ng-model="user.name"
               type="text"
               id="name"
               name="name"
               ng-pattern="/^[a-zA-Z]+$/"
               required-warning="warning(message)"
               ng-maxLength="7"		
               ></input-field>
            <input-field 
               ng-model="user.surname"
               type="text"
               id="surname"
               name="surname"
               ng-pattern="/^[a-zA-Z]\S/"
               required-warning="warning(message)"
               ng-maxLength="15"		
               ></input-field>
            <input-field ng-model="user.password"
               type="password"
               id="password"
               name="password"
               ng-pattern="/^[a-zA-Z0-9]+$/"
               name="password"
               required-warning="warning(message)"
               ng-maxLength="6"		  		
               ></input-field>
            <div class="checkbox">
               <label>
               <input type="checkbox" name="remember" ng-model="checked"> Remember me
               </label>
               <p ng-if="checked">You really want to remember yourself?</p>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
         </form>
      </div>
   </body>
</html>